#!/bin/bash

# run docker registry container
# https://github.com/curtiszimmerman/docker-registry-auth

docker run -d \
  --name="docker-registry-auth" \
  --restart="always" \
  #%DEFAULTPORT% \
  docker-registry-auth
